:root {
    --primary-color: #10b981; 
    --primary-dark: #064e3b; 
}

*::-webkit-scrollbar {
    display: none;
}

#buttonList {
    background-color: var(--primary-color) !important;
}

#buttonList button {
    border-left: 4px solid transparent;
}

#buttonList button:hover {
    border-left: 4px solid white !important;
}